
	
	.mediaViewInfo {
		--web-view-name: design – 1;
		--web-view-id: design__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: design__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#design__1 {
		position: absolute;
		width: 1792px;
		height: 20001px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: design – 1;
		--web-view-id: design__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_20 {
		fill: rgba(215,215,217,1);
	}
	.Rectangle_20 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 2153px;
		left: -78px;
		top: 17901px;
	}
	#Rectangle_19 {
		fill: rgba(91,133,217,1);
	}
	.Rectangle_19 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 5237px;
		left: -14px;
		top: 8624px;
	}
	#Rectangle_18 {
		fill: rgba(251,187,61,1);
	}
	.Rectangle_18 {
		position: absolute;
		overflow: visible;
		width: 771px;
		height: 267px;
		left: -76px;
		top: 895px;
	}
	#cataclysm {
		left: 524px;
		top: 386px;
		position: absolute;
		overflow: visible;
		width: 1241px;
		height: 485px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 220px;
		color: rgba(0,0,0,1);
	}
	#the_hyatt_regency_walkway_coll {
		left: 610px;
		top: 680px;
		position: absolute;
		overflow: visible;
		width: 1318px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 75px;
		color: rgba(91,133,217,1);
	}
	#The_Hyatt_Regency_in_downtown_ {
		left: 305px;
		top: 2138px;
		position: absolute;
		overflow: visible;
		width: 1106px;
		height: 179px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#On_July_17_1981 {
		left: 305px;
		top: 1965px;
		position: absolute;
		overflow: visible;
		width: 1040px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(91,133,217,1);
	}
	#n_At_around_705_pm_the_guests_ {
		left: 913px;
		top: 2480px;
		position: absolute;
		overflow: visible;
		width: 479px;
		height: 579px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#The_first_responders_arrive_on {
		left: 283px;
		top: 3183px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 264px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Mark_Williams {
		left: 154.25px;
		top: 9810.721px;
		position: absolute;
		overflow: visible;
		width: 1016px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(255,255,255,1);
	}
	#Property_valuer_Mark_Williams_ {
		left: 318.5px;
		top: 10023.721px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 232px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#He_had_been_pinned_underneath_ {
		left: 936.25px;
		top: 10482px;
		position: absolute;
		overflow: visible;
		width: 510.25px;
		height: 528px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Walter_and_Shirley_Trueblood {
		left: 143px;
		top: 15123.5px;
		position: absolute;
		overflow: visible;
		width: 1146px;
		height: 128px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(0,0,0,1);
	}
	#Walter_and_Shirley_were_there_ {
		left: 318.5px;
		top: 15296.5px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 273px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Walter_had_blacked_out_from_th {
		left: 882px;
		top: 15771px;
		position: absolute;
		overflow: visible;
		width: 509px;
		height: 440px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#investigation {
		left: 73px;
		top: 18040px;
		position: absolute;
		overflow: visible;
		width: 1235px;
		height: 300px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 190px;
		color: rgba(91,133,217,1);
	}
	#The_conclusions_from_the_inves {
		left: 333px;
		top: 18503px;
		position: absolute;
		overflow: visible;
		width: 1042px;
		height: 143px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Cause_of_the_collapse {
		left: 154px;
		top: 18317px;
		position: absolute;
		overflow: visible;
		width: 1040px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(91,133,217,1);
	}
	#The_collapse_stemmed_from_a_we {
		left: 333px;
		top: 19674px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 227px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Background {
		position: absolute;
		width: 777px;
		height: 971px;
		left: -287px;
		top: 105px;
		overflow: visible;
	}
	#Untitled_Artwork_4 {
		position: absolute;
		width: 1485px;
		height: 960.882px;
		left: 139.5px;
		top: 8789.279px;
		overflow: visible;
	}
	#Background_ {
		display: none;
		position: absolute;
		width: 1485px;
		height: 960.883px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_1 {
		display: none;
		position: absolute;
		width: 1485px;
		height: 960.883px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_5 {
		position: absolute;
		width: 1485px;
		height: 960.883px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_3 {
		display: none;
		position: absolute;
		width: 1485px;
		height: 960.883px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_2 {
		position: absolute;
		width: 1485px;
		height: 960.883px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_4 {
		position: absolute;
		width: 1485px;
		height: 960.883px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Background_ba {
		position: absolute;
		width: 519px;
		height: 692px;
		left: 305px;
		top: 2423px;
		overflow: visible;
	}
	#He_heard_one_of_the_rescue_wor {
		left: 318.5px;
		top: 11329.721px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 367px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Background_bb {
		position: absolute;
		width: 1526px;
		height: 1035px;
		left: 154px;
		top: 11901px;
		overflow: visible;
	}
	#Doctors_had_thought_that_Mark_ {
		left: 319px;
		top: 13468px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 197px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Mark_Williams_was_the_last_per {
		left: 408px;
		top: 13140.279px;
		position: absolute;
		overflow: visible;
		width: 928px;
		height: 364px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#Subtraction_1 {
		position: absolute;
		width: 707px;
		height: 700.001px;
		left: 139.5px;
		top: 10396px;
		overflow: visible;
	}
	#Background_bf {
		position: absolute;
		width: 1432px;
		height: 594px;
		left: 166px;
		top: 1295px;
		overflow: visible;
	}
	#Two_hours_after_the_collapse_t {
		left: 318.5px;
		top: 16443.5px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 322px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Layer_1_bh {
		position: absolute;
		width: 1249px;
		height: 867px;
		left: 258px;
		top: 16881px;
		overflow: visible;
	}
	#Background_bi {
		position: absolute;
		width: 551px;
		height: 688px;
		left: 258px;
		top: 15640px;
		overflow: visible;
	}
	#Rectangle_2 {
		fill: rgba(215,215,217,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 5050px;
		left: -78px;
		top: 3575px;
	}
	#Frank_Freeman_and_Roger_Grigsb {
		left: 155px;
		top: 5063px;
		position: absolute;
		overflow: visible;
		width: 1282px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(0,0,0,1);
	}
	#stories {
		left: 73px;
		top: 3713px;
		position: absolute;
		overflow: visible;
		width: 715px;
		height: 255px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 200px;
		color: rgba(91,133,217,1);
	}
	#Frank_Freeman_and_his_boyfrien {
		left: 319px;
		top: 5270px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 236px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Text {
		left: 134px;
		top: 5719px;
		position: absolute;
		overflow: visible;
		width: 122px;
		height: 256px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 190px;
		color: rgba(91,133,217,1);
	}
	#It_didnt_look_like_hed_been_hi {
		left: 292px;
		top: 5752px;
		position: absolute;
		overflow: visible;
		width: 1339px;
		height: 911px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 100px;
		color: rgba(91,133,217,1);
	}
	#Text_bp {
		left: 1390px;
		top: 6244px;
		position: absolute;
		overflow: visible;
		width: 90px;
		height: 256px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 190px;
		color: rgba(91,133,217,1);
	}
	#Frank_Freeman {
		left: 1019px;
		top: 6458px;
		position: absolute;
		overflow: visible;
		width: 461px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 75px;
		color: rgba(91,133,217,1);
	}
	#Frank_had_finally_been_persuad {
		left: 319px;
		top: 7954px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 265px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#In_talking_about_Roger_Frank_d {
		left: 318px;
		top: 8268px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 185px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#on_Roger_Grigsby {
		left: 1079px;
		top: 6567px;
		position: absolute;
		overflow: visible;
		width: 401px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 54px;
		color: rgba(91,133,217,1);
	}
	#Background_bu {
		position: absolute;
		width: 1456px;
		height: 947px;
		left: 154px;
		top: 6836px;
		overflow: visible;
	}
	#Untitled_Artwork_3 {
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 139.41px;
		top: 3994px;
		overflow: visible;
	}
	#Background_bw {
		display: none;
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_1_bx {
		opacity: 0.486;
		display: none;
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_3_by {
		display: none;
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_5_bz {
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_2_b {
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_4_b {
		position: absolute;
		width: 1485.18px;
		height: 960.999px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Untitled_Artwork_8 {
		position: absolute;
		width: 1492px;
		height: 966px;
		left: 102px;
		top: 18646px;
		overflow: visible;
	}
	#Background_b {
		display: none;
		position: absolute;
		width: 1492px;
		height: 966px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_1_b {
		opacity: 0.51;
		display: none;
		position: absolute;
		width: 1492px;
		height: 966px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_2_ca {
		position: absolute;
		width: 1492px;
		height: 966px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Untitled_Artwork_2 {
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 139.409px;
		top: 14053px;
		overflow: visible;
	}
	#Background_ca {
		display: none;
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_1_ca {
		opacity: 0.486;
		display: none;
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_3_b {
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_5_ca {
		display: none;
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_2_cb {
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Layer_4_cc {
		position: absolute;
		width: 1485.182px;
		height: 961px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_24 {
		fill: transparent;
	}
	.Rectangle_24 {
		position: absolute;
		overflow: visible;
		width: 1792px;
		height: 2280px;
		left: -14px;
		top: 1295px;
	}
	#Rectangle_25 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_25 {
		position: absolute;
		overflow: visible;
		width: 1792px;
		height: 64px;
		left: 0px;
		top: 0px;
	}
	#Component_1__1 {
		position: absolute;
		width: 129px;
		height: 29px;
		left: 176px;
		top: 19px;
		overflow: visible;
	}
	#introduction {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 130px;
		height: 29px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(103,103,103,1);
	}
	#Component_2__1 {
		position: absolute;
		width: 142px;
		height: 29px;
		left: 456px;
		top: 19px;
		overflow: visible;
	}
	#frank_freeman {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 143px;
		height: 29px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(103,103,103,1);
	}
	#Component_3__1 {
		position: absolute;
		width: 142px;
		height: 29px;
		left: 749px;
		top: 19px;
		overflow: visible;
	}
	#mark_williams {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 143px;
		height: 29px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(103,103,103,1);
	}
	#Component_4__1 {
		position: absolute;
		width: 291px;
		height: 29px;
		left: 1042px;
		top: 19px;
		overflow: visible;
	}
	#walter_and_shirley_trueblood {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 292px;
		height: 29px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(103,103,103,1);
	}
	#Component_5__1 {
		position: absolute;
		width: 132px;
		height: 29px;
		left: 1484px;
		top: 19px;
		overflow: visible;
	}
	#investigation_co {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 133px;
		height: 29px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(103,103,103,1);
	}
