/* This is the button which opens the navbar */
.nav_button {
	position: fixed; /* Set the navbar to fixed position */
  	top: 20px; /* Position the navbar at the top of the page */
	left: 20px;
	font-size: 24px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
}
/* The side navigation menu */
.sidenav {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: rgba(91,133,217,1); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(0, 0, 0);
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #ffffff;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


	.mediaViewInfo {
		--web-view-name: design â€“ 2;
		--web-view-id: design__2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: design__2;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#design__2 {
		position: absolute;
		width: 1792px;
		height: 19405px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: design â€“ 2;
		--web-view-id: design__2;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
		z-index: -2;
	}

	#hamburger{
		overflow: visible;
    	position: absolute;
   		width: 39.169px;
    	height: 34.273px;
    	left: 15.915px;
    	top: 18.363px;
    	transform: matrix(1,0,0,1,0,0);
	}

	#Rectangle_28 {
		fill: rgba(91,133,217,1);
	}

	#Rectangle_40 {
		fill: rgba(215,215,217,1);
	}

	.Rectangle_40 {
		position: absolute;
		overflow: visible;
		width: 1847px;
		height: 233px;
		left: 0px;
		top: 19355px;
	}

	#margaret_brekke {
		left: 209px;
		top: 19405px;
		position: absolute;
		overflow: visible;
		width: 408px;
		height: 64px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 54px;
		color: rgb(0, 0, 0);
	}
	
	#portfolio {
		left: 209px;
		top: 19474px;
		position: absolute;
		overflow: visible;
		width: 133px;
		height: 43px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 36px;
		color: rgb(0, 0, 0);
	}

	#margaretbrekkemyportfoliocom {
		left: 377px;
		top: 19474px;
		position: absolute;
		overflow: visible;
		width: 489px;
		height: 43px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 36px;
		color: rgb(0, 0, 0);
	}

	a:visited { 
		text-decoration: none; 
		color: rgb(0, 0, 0); 
	   }

	a:link {
		text-decoration: underline;
	}

	.Rectangle_28 {
		position: absolute;
		overflow: visible;
		width: 188px;
		height: 17243px;
		left: 0px;
		top: 2162px;
	}

	#cataclysm {
		left: 230px;
		top: 494px;
		position: absolute;
		z-index: 1;
		overflow: visible;
		width: 1467px;
		height: 485px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 295px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_32 {
		fill: rgba(215,215,217,1);
	}
	.Rectangle_32 {
		position: absolute;
		overflow: visible;
		width: 1488px;
		height: 820px;
		left: 304px;
		top: 6768px;
	}
	#Rectangle_26 {
		fill: rgba(251,187,61,1);
	}
	.Rectangle_26 {
		position: absolute;
		overflow: visible;
		width: 1792px;
		height: 1081px;
		left: 0px;
		top: 1081px;
	}
	#Group_12 {
		position: absolute;
		width: 1474px;
		height: 1155.985px;
		left: 230px;
		top: 1043.508px;
		overflow: visible;
	}
	#one {
		position: absolute;
		width: 1474px;
		height: 1155.985px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#titleright {
		position: absolute;
		top: 99px;
		right: 0px;
		width: 413px;
		height: 641px;
		z-index: -1;
		overflow: visible;
	}
	#titlemiddle {
		position: absolute;
		top: 99px;
		left: 394px;
		width: 897px;
		height: 641px;
		z-index: -1;
		overflow: visible;
	}
	#titleleft {
		position: absolute;
		top: 100px;
		left: -0.4990234375px;
		width: 305px;
		height: 641px;	
		z-index: -1;
		overflow: visible;
	}
	#Rectangle_19 {
		fill: rgba(215,215,217,1);
	}
	.Rectangle_19 {
		position: absolute;
		overflow: visible;
		width: 1774px;
		height: 4181px;
		left: 43px;
		top: 9041px;
		z-index: -1;
	}
	#The_Hyatt_Regency_in_downtown_ {
		left: 383px;
		top: 2918px;
		position: absolute;
		overflow: visible;
		width: 1127px;
		height: 179px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#n_At_around_705_pm_the_guests_ {
		left: 991px;
		top: 3260px;
		position: absolute;
		overflow: visible;
		width: 479px;
		height: 579px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#The_first_responders_arrive_on {
		left: 383px;
		top: 3945px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 218px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Mark_Williams {
		left: 383px;
		top: 10084.5px;
		position: absolute;
		overflow: visible;
		width: 1016px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(91,133,217,1);
	}
	#Rectangle_34 {
		fill: rgb(255, 255, 255);
	}
	.Rectangle_34 {
		position: absolute;
		overflow: visible;
		width: 1480px;
		height: 257px;
		left: 383px;
		top: 12594px;
	}
	#Property_valuer_Mark_Williams_ {
		left: 383px;
		top: 10234.5px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 232px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#He_had_been_pinned_underneath_ {
		left: 971.409px;
		top: 10638.422px;
		position: absolute;
		overflow: visible;
		width: 486.25px;
		height: 545px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Walter_and_Shirley_Trueblood {
		left: 383px;
		top: 14196.928px;
		position: absolute;
		overflow: visible;
		width: 1146px;
		height: 128px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 90px;
		color: rgba(0,0,0,1);
	}
	#Walter_and_Shirley_were_there_ {
		left: 391.5px;
		top: 14370.75px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 273px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Walter_had_blacked_out_from_th {
		left: 955px;
		top: 14809.178px;
		position: absolute;
		overflow: visible;
		width: 472px;
		height: 482px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#buildingexterior {
		position: absolute;
		width: 519px;
		height: 692px;
		left: 383px;
		top: 3203px;
		overflow: visible;
	}
	#He_heard_one_of_the_rescue_wor {
		left: 383px;
		top: 11358.5px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 297px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Doctors_had_thought_that_Mark_ {
		left: 383px;
		top: 12921px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 197px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Mark_Williams_was_the_last_per {
		left: 468.33px;
		top: 12627.5px;
		position: absolute;
		overflow: visible;
		width: 928px;
		height: 190px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#markwilliamsphoto {
		position: absolute;
		width: 506.83px;
		height: 739.844px;
		left: 383px;
		top: 10532.5px;
		overflow: visible;
	}

	#markwilliams2 {
		position: absolute;
		top: 11745px;
		left: 383px;
		width: 1120px;
		height: 759px;
		overflow: visible;
	}

	#teadancebanner {
		position: absolute;
		top: 2280px;
		left: 294px;
		width: 1305px;
		height: 542px;
		overflow: visible;
	}
	#Two_hours_after_the_collapse_t {
		left: 391.5px;
		top: 15502.678px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 322px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}	
	#walter1 {
		position: absolute;
		width: 507px;
		height: 634px;
		left: 397px;
		top: 14759.25px;
		overflow: visible;
	}
	#Frank_Freeman_and_his_boyfrien {
		left: 397px;
		top: 6434px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 236px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Text {
		left: 363px;
		top: 6832px;
		position: absolute;
		overflow: visible;
		width: 122px;
		height: 256px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 160px;
		color: rgba(255,255,255,1);
	}
	#It_didnt_look_like_hed_been_hi {
		left: 484px;
		top: 6855px;
		position: absolute;
		overflow: visible;
		width: 958px;
		height: 500px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 75px;
		color: rgba(0,0,0,1);
	}
	#Text_bf {
		left: 1441px;
		top: 7193px;
		position: absolute;
		overflow: visible;
		width: 90px;
		height: 256px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 160px;
		color: rgba(255,255,255,1);
	}
	#Frank_Freeman {
		left: 1083px;
		top: 7355px;
		position: absolute;
		overflow: visible;
		width: 461px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 75px;
		color: rgba(0,0,0,1);
	}
	#Frank_had_finally_been_persuad {
		left: 385px;
		top: 8478px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 265px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#In_talking_about_Roger_Frank_d {
		left: 381px;
		top: 8767px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 185px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#on_Roger_Grigsby {
		left: 1143px;
		top: 7464px;
		position: absolute;
		overflow: visible;
		width: 401px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 54px;
		color: rgba(0,0,0,1);
	}
	#frankfreeman {
		position: absolute;
		width: 1120px;
		height: 729px;
		left: 387px;
		top: 7686px;
		overflow: visible;
	}
	#walter2 {
		position: absolute;
		top: 15940px;
		left: 331px;
		width: 1249px;
		height: 867px;
		overflow: visible;
	}

	#frankdiagram {
		position: absolute;
		top: 5366px;
		left: 270px;
		width: 1384px;
		height: 896px;
		overflow: visible;
	}

	#markdiagram {
		position: absolute;
		top: 9123px;
		left: 279px;
		width: 1385px;
		height: 896px;
		overflow: visible;
	}

	#walterdiagram {
		position: absolute;
		top: 13259px;
		left: 266px;
		width: 1379px;
		height: 892px;
		overflow: visible;
	}
	
	#the_hyatt_regency_walkway_coll {
		left: 554px;
		top: 856px;
		position: absolute;
		overflow: visible;
		width: 1102px;
		height: 123px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 75px;
		color: rgba(91,133,217,1);
	}
	#introduction {
		left: 43px;
		top: 1396px;
		position: absolute;
		overflow: hidden;
		width: 1707px;
		height: 337px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 295px;
		color: rgba(0,0,0,1);
	}
	#what_happened_on_july_17_1981 {
		left: 137px;
		top: 1726px;
		position: absolute;
		overflow: visible;
		width: 1323px;
		height: 123px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 97px;
		color: rgba(91,133,217,1);
	}
	#Rectangle_31 {
		fill: rgba(251,187,61,1);
	}
	.Rectangle_31 {
		position: absolute;
		overflow: visible;
		width: 1792px;
		height: 1081px;
		left: 0px;
		top: 4289px;
	}
	#Frank_Freeman__Roger_Grigsby {
		left: 397px;
		top: 6286px;
		position: absolute;
		overflow: visible;
		width: 1190px;
		height: 124px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 82px;
		color: rgba(0,0,0,1);
	}
	#Group_14 {
		position: absolute;
		width: 1474px;
		height: 1155.99px;
		left: 230px;
		top: 4251.505px;
		overflow: visible;
	}
	#Group_13 {
		position: absolute;
		width: 1474px;
		height: 1155.99px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_33 {
		fill: rgba(251,187,61,1);
	}
	.Rectangle_33 {
		position: absolute;
		overflow: visible;
		width: 1792px;
		height: 1081px;
		left: 0px;
		top: 16916px;
	}
	#Group_16 {
		position: absolute;
		width: 1474px;
		height: 1155.99px;
		left: 230px;
		top: 16853px;
		overflow: visible;
	}
	#Group_15 {
		position: absolute;
		width: 1474px;
		height: 1155.99px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#stories1 {
		left: 43px;
		top: 4644px;
		position: absolute;
		overflow: visible;
		width: 1036px;
		height: 370px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 295px;
		color: rgba(0,0,0,1);
	}
	#who_was_there {
		left: 137px;
		top: 4965px;
		position: absolute;
		overflow: visible;
		width: 608px;
		height: 123px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 97px;
		color: rgba(91,133,217,1);
	}
	#investigation {
		left: 43px;
		top: 17227px;
		position: absolute;
		overflow: visible;
		width: 1707px;
		height: 337px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 279px;
		color: rgba(0,0,0,1);
	}
	#cause_of_the_collapse {
		left: 137px;
		top: 17557px;
		position: absolute;
		overflow: visible;
		width: 1366px;
		height: 123px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: italic;
		font-weight: lighter;
		font-size: 97px;
		color: rgba(91,133,217,1);
	}
	#The_conclusions_from_the_inves {
		left: 426px;
		top: 18141px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 143px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#diagram {
		position: absolute;
		top: 18284px;
		left: 383px;
		width: 1149px;
		height: 744px;
		overflow: visible;
	}
	#The_collapse_stemmed_from_a_we {
		left: 383px;
		top: 19063px;
		position: absolute;
		overflow: visible;
		width: 1128px;
		height: 227px;
		text-align: left;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}